*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    font-family: 'Spartan', sans-serif;
}
header{
    background-color: rgb(49, 211, 170);
    padding: 10px 0;
    text-align: center;
}
.logo{
    width: 80%;
}
.titulo {
    font-weight: bold;
    font-size: 1.5rem; 
    padding: 10px 0;
}
.subtitulo {
    font-size: 1rem;
    padding-bottom: 15px;
}
.texto {
    font-size: 0.8rem;
    padding-top: 15px;
    line-height : 25px;
}
.galeria {
    width: 100%;
}
hr.i {
    width: 20%;
    margin-left: 21em;
}
hr.d {
    width: 20%;
}
.perro, .comida {
    width: 55%;
    padding-top: 35px;
    padding-bottom: 10px;
}
.main {
    display: flex;
    flex-direction: column;
}
nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    background-color: rgb(49, 211, 170);
    list-style-type: none;
    text-decoration: none;
    margin: 5px 0;
}
nav ul a{
    text-decoration:none;
    color: white;
}
nav ul li {
    margin: 10px 0;
}
.redes_sociales {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(49, 211, 170);
    padding: 10px;
}
.f, .t, .gm, .g {
    background-color: white;
    border-radius: 50%;
    border: solid 1px white;
    padding: 8px;
    margin: 0 10px;
}
.c {
    color: rgb(49, 211, 170);
}
.texto1 {
    text-align: justify;
    margin-top: 10px;
}
.contenido {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 10px;

}
.contenido1 {
    flex-direction: column;
    align-self: flex-end;
    text-align: end;
    margin: 0 10px;
}
footer{
    width: 100%;
    font-size: 0.8rem;
    padding-bottom: 15px;
    text-align: center;
    color: white;
    padding-top: 14px;
    background-color: gray;
}
.margensup{
    margin-top: 10px;
}
.bt{
    text-decoration: none;
    font-family: arial;
    text-transform: uppercase;
    padding: 7px;
    color: black;
    font-weight: bold;
    border: 1px solid black;
}
.contenedor2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgb(49, 211, 170);
    margin-top: 15px;
}
.img1, .img2, .img3, .img4, .img5, .img6, .img7 {
    width: 100%;
    margin: 5px;
}
.galeria1, .galeria2, .galeria3 {
    display: flex;
    flex-direction: column;
}
.galeria1 {
    width: 35%;
}
.galeria2 {
    width: 20%;
}
.galeria3 {
    width: 45%;
}
.encabezado {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(49, 211, 170);
}

/* punto de quiebre */
@media (min-width: 400px) {
    .encabezado {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: rgb(49, 211, 170);
    }
    nav ul {
        display: flex;
        flex-direction: row;
        color: white;
        text-align: center;
        background-color: rgb(49, 211, 170);
        list-style-type: none;
        padding: 0 40px;
    }
    nav ul li {
        padding: 10px;
    }
    header {
        padding-left: 10px;
    }
}